<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html" />
	<meta charset="UTF-8">
	<title>JAPI - Framework para API's Governamentais</title>
	<!-- Bootstrap -->
	<link rel="stylesheet" type="text/css" href='$session.asset("css/template.css")'/>
	
</head>
	<body>
		##Barra do Governo Federal, obrigatória para sites governamentais
		<div id="barra-brasil" style="background:#7F7F7F; height: 20px; padding:0 0 0 10px;display:block;"> 
			<ul id="menu-barra-temp" style="list-style:none;">
				<li style="display:inline; float:left;padding-right:10px; margin-right:10px; border-right:1px solid #EDEDED"><a href="http://brasil.gov.br" style="font-family:sans,sans-serif; text-decoration:none; color:white;">Portal do Governo Brasileiro</a></li> 
				<li><a style="font-family:sans,sans-serif; text-decoration:none; color:white;" href="http://epwg.governoeletronico.gov.br/barra/atualize.html">Atualize sua Barra de Governo</a></li>
			</ul>
		</div>

		<div id="container">
			##Cabeçalho do site, onde teremos o menu e as informações da API
			<div id="p_header">
				<div id="p_h_interno" class="p_container">
					<ul id="p_h_sitactions">
						<li><a href="acessibilidade.html" accesskey="4">Acessibilidade</a></li>
						<li id="siteaction-contraste" class="contrasteIcone"><a accesskey="5" title="Alto contraste">Alto Contraste</a></li>
						<li id="siteaction-contraste2" class="contrasteIcone" style="display: none;"><a accesskey="6" title="Alto Contraste" class="contrasteIconeNegativo">Alto Contraste</a></li>
						<li><a href="mapa-site.html" accesskey="7">Mapa do site</a></li>
					</ul>
				
					<ul id="p_h_aces">
						<li>
							<a href="#conteudo" accesskey="1">
								Ir para o conteúdo
								<span>1</span>
							</a>
						 </li>
						 <li>
							 <a href="#menu_nav" accesskey="2">
								  Ir para a navegação
								  <span>2</span>
							  </a>
						 </li>
						 <li>
							<a href="#p_footer" accesskey="3">
								Ir para o rodapé
								<span>3</span>
							</a>
						 </li>
					</ul>
								
					<div id="p_h_titulo">
						<a href="$session.path" title="JAPI - Framework para API's governamentais">
							<img alt="Brasil - Governo Federal" src="$session.asset('imagens/logo_vetorizado.png')" id="logo-dados-abertos">
							<span id="p_h_tit_den"></span>
							<h1 id="p_h_tit_nome">JAPI - Framework para API's governamentais</h1>
							<span id="p_h_tit_sub">Beta</span>
						</a>
					</div>   
								
				</div>
						
				<div id="p_h_menu">
					<div id="p_h_menu_interno" class="p_container">	
						<ul>
							<li id="faq">
								<a href="perguntas-frequentes.html">
								Perguntas frequentes
								</a>  
							</li>
							<li id="contato">
								<a href="contato">
								Contato
								</a>  
							</li>
							<li id="sobre">
								<a href="http://kit.dados.gov.br/Gloss%C3%A1rio/#api">
								O que são API's
								</a>  
							</li>
							<li id="documentacao">
								<a href="swagger.html">
								Documentação Automática
								</a>
							</li>	
						</ul>
					</div>
				</div>
			</div>
			
			##Parse do erro
			<div style="text-align:center">
				<h1>Error</h1>
				<h3>Status: $response.apiException.httpStatusCode</h3>
				<h3>Mensagem: $response.apiException.publicMessage</h3>
			</div>
			
			<div id="apoio-footer"></div><!-- Div criada para manter o rodapé colado no 'chão' -->

			<div id="p_footer" style="position:fixed; bottom:0;">
				<div id="p_f_bra">
					<div id="p_f_bra_interno"  class="p_container">	
						<a href="http://www.acessoainformacao.gov.br/" target="_blank">
							<img alt="Acesso a Informação" src="$session.asset('imagens/acesso-a-infornacao.png')" />
						</a>
						
						<a href="http://www.brasil.gov.br/" class="lg_esq" target="_blank">
							<img alt="Brasil - Governo Federal" src="$session.asset('imagens/brasil.png')" />
						</a>
		
					</div>
				</div>
			</div>
			
			<script defer="defer" async="async" src="//barra.brasil.gov.br/barra.js" type="text/javascript"></script>
		</div>
	</body>
	
	##Manter os Javascripts aso final da body facilita o carregamento da página
	<script type="text/javascript" src="$session.asset('js/jquery-1.9.1.js')"> </script>
	<script type="text/javascript" src="$session.asset('js/jquery.rcrumbs.js')"> </script>
	<script src="//barra.brasil.gov.br/barra.js" type="text/javascript"></script>
	<script type="text/javascript" src='$session.asset("javascript.js")'></script>
</html>
