<!DOCTYPE html>
<html>
	<head><title>JAPIGOV</title><meta charset='utf-8'/></head>
	<body>
		
		#if( $response.isList() )
			#set($first = $response.get(0))
			<table border="1">
				<thead><tr>
					#foreach($property in $first.properties)
						<th>$property.name</th>
					#end
				</tr></thead>
				#foreach( $resource in $response )
					<tr>
						#foreach($property in $resource.properties)
							<td>$property.value</td>
						#end
					</tr>
		    	#end
	    	</table>
    	#else
    		<h1>not list</h1>
    	#end
	</body>
</html>